<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="WebServiceSoap1">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://stuiis.cms.gre.ac.uk/ka5054d/HolidayBookingSystem/EmployeeWebService/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
                contract="EmployeeServices.WebServiceSoap" name="WebServiceSoap" />
            <endpoint address="https://localhost:44345/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap1" contract="ServiceReference.WebServiceSoap"
                name="WebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>