<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Holiday_Booking_System.Properties.Settings.na8363cConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=na8363c;Persist Security Info=True;User ID=na8363c;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
        <add name="Holiday_Booking_System.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=sql-server;User ID=na8363c"
            providerName="System.Data.SqlClient" />
        <add name="Holiday_Booking_System.Properties.Settings.ka5054dConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=ka5054d;User ID=ka5054d;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
        <add name="Holiday_Booking_System.Properties.Settings.DataSourceConnectionString1"
            connectionString="Data Source=sql-server;User ID=ka5054d;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>